* {
    margin: 0;
    padding: 0;
}
body,html {
    height: 100%;
}
body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.output {
    height: 50%;
}
.form input[type=submit] {
    color: white;
    background: #607D8B;
    border: none;
    padding: 20px;
    border-radius: 10px;
    
    font-weight: 900;
    font-size: 2em;
    outline: none;
}
.form input[type=submit]:hover {
    background: #546E7A;
}
.form input[type=submit]:active {
    background: #263238;
}
td, th {
    padding: 10px;
}
a {
    text-decoration: none;
}