* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    font-style: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #B0BEC5;
}
.contact-form{
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    height: 500px;
    
}

.contact-form > * {
    margin: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #212121;
    color: #8BC34A;
    font-weight: 700;  
    font-size: 1em;
    outline: none;
    font-family: sans-serif;
}
.contact-form textarea {
    resize: vertical;
    min-height: 40px;
}

.messages-box {
    
}
